body {
  position: relative;
  background: #1F1F1F;
  height: 100vh;
  overflow: hidden;
  margin: 0; /* Ensure no margin to avoid scroll */
}

#aggregationSlider {
  position: absolute; 
  width: 80%; 
  bottom: 140px; 
  left: 50%; 
  transform: translateX(-50%); 
  height: 4px; 
  accent-color: #D9FF00;
  background: rgb(80, 80, 80);
  -webkit-appearance: none;
  appearance: none;
}

#aggregationSlider::-webkit-slider-runnable-track,
#aggregationSlider::-moz-range-track {
  width: 100%;
  height: 1px;
  background: #D9FF00; /* Track color */
  position: relative;
  background: rgb(80, 80, 80);
  top: 10px; /* Adjust this value to align the track with the thumb */
}

#aggregationSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; /* Increased size for better mobile usability */
  height: 30px; /* Increased size for better mobile usability */
  background: #D9FF00; /* Knob color */
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -0px; /* Adjust this value to align the thumb with the track */
}

#aggregationSlider::-moz-range-thumb {
  width: 30px; /* Increased size for better mobile usability */
  height: 30px; /* Increased size for better mobile usability */
  background: #D9FF00; /* Knob color */
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -0px; /* Adjust this value to align the thumb with the track */
}

.label {
  position: absolute; 
  bottom: 165px; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 1em;
}

.navbar {
  position: absolute;
  background-color: hsl(0 100% 100% / 0.0); /* Transparent background */
}
