body {
  position: relative;
  background: #1F1F1F;
  height: 100svh;
  overflow: hidden;
  margin: 0; /* Ensure no margin to avoid scroll */
}

#aggregationSlider {
  width: 280px;
  height: 4px;
  accent-color: #D9FF00;
  background: rgb(80, 80, 80);
  -webkit-appearance: none;
  appearance: none;
}

#aggregationSlider::-webkit-slider-runnable-track,
#aggregationSlider::-moz-range-track {
  width: 100%;
  height: 1px;
  background: #D9FF00; /* Track color */
  position: relative;
  background: rgb(80, 80, 80);
  top: 10px; /* Adjust this value to align the track with the thumb */
}

#aggregationSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; /* Increased size for better mobile usability */
  height: 30px; /* Increased size for better mobile usability */
  background: #D9FF00; /* Knob color */
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -0px; /* Adjust this value to align the thumb with the track */
}

#aggregationSlider::-moz-range-thumb {
  width: 30px; /* Increased size for better mobile usability */
  height: 30px; /* Increased size for better mobile usability */
  background: hsl(69, 100%, 50%); /* Knob color */
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -0px; /* Adjust this value to align the thumb with the track */
}

.label {
  margin-left: 0.75rem;
  font-size: 1em;
}

.navbar {
  position: absolute;
  background-color: hsl(0 100% 100% / 0.0); /* Transparent background */
}

.navbar-item:hover {

  background-color: hsla(0, 0%, 100%, 0.05); /* Transparent background */

  color: inherit;

}